# Data Wrangling Exercises

### 1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.

- Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.

- Only include properties that include a latitude and longitude value.

In [1]:
import pandas as pd
import numpy as np
import os
from env import host, user, password

def get_connection(db, user=user, host=host, password=password):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    It takes in a string name of a database as an argument.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    
    
def new_zillow_data():
    '''
    This function reads all tables and columns into a dataframe, including only properties with lat/long
    data and had transactions in 2017. Properties with multiple transactions 
    will display only the most recent transaction.
    '''
    sql_query = """
                SELECT *
                FROM properties_2017 as p
                JOIN predictions_2017 as m USING(parcelid)
                LEFT JOIN airconditioningtype as ac USING(airconditioningtypeid)
                LEFT JOIN architecturalstyletype as arch USING(architecturalstyletypeid)
                LEFT JOIN buildingclasstype as b USING(buildingclasstypeid)
                LEFT JOIN heatingorsystemtype as heat USING(heatingorsystemtypeid)
                LEFT JOIN propertylandusetype as pt USING(propertylandusetypeid)
                LEFT JOIN storytype as s USING(storytypeid)
                LEFT JOIN typeconstructiontype as c USING(typeconstructiontypeid)
                LEFT JOIN unique_properties as u USING(parcelid)
                INNER JOIN (SELECT p.id, MAX(transactiondate) AS maxdate FROM properties_2017 as p JOIN predictions_2017 USING(parcelid) GROUP BY p.id) md ON p.id = md.id AND transactiondate = maxdate
                WHERE transactiondate LIKE '2017%%' AND latitude IS NOT NULL AND longitude IS NOT NULL
                """
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('zillow'))
    
    return df

def get_zillow_data():
    '''
    This function reads in zillow data from the Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('zillow.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('zillow.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_zillow_data()
        
        # Cache data
        df.to_csv('zillow.csv')
        
    return df

### 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [2]:
df = get_zillow_data()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (65) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
cols = []
count = 1
for column in df.columns:
    if column == 'id':
        cols.append(f'id_{count}')
        count+=1
        continue
    cols.append(column)
df.columns = cols

In [4]:
df.drop(columns = ['id.2','id.1','maxdate'],inplace = True)

In [5]:
df.rename(columns = {'id_1':'id'}, inplace = True)

In [6]:
for col in df.columns:
    print(df[col].value_counts())
    print('\n---------------------------')

11933699    1
11505743    1
11709951    1
11445758    1
14728701    1
           ..
12792914    1
13840735    1
12083865    1
14183064    1
12853244    1
Name: parcelid, Length: 77380, dtype: int64

---------------------------
6.0     219
4.0       1
13.0      1
10.0      1
Name: typeconstructiontypeid, dtype: int64

---------------------------
7.0    50
Name: storytypeid, dtype: int64

---------------------------
261.0    52319
266.0    19294
246.0     2009
269.0     1944
248.0      727
247.0      535
265.0      333
263.0       74
275.0       58
260.0       37
267.0       29
31.0        15
264.0        6
Name: propertylandusetypeid, dtype: int64

---------------------------
2.0     33550
7.0     14064
24.0      846
6.0       776
20.0      104
13.0       59
18.0       23
1.0        13
10.0        3
11.0        1
Name: heatingorsystemtypeid, dtype: int64

---------------------------
4.0    14
3.0     1
Name: buildingclasstypeid, dtype: int64

---------------------------
7.0     172
8.0      19
21.0      7
2.0       5
3.0       3
Name: architecturalstyletypeid, dtype: int64

---------------------------
1.0     23133
13.0     1574
5.0       167
11.0       53
9.0        26
Name: airconditioningtypeid, dtype: int64

---------------------------
2232322    1
2540658    1
2413680    1
1977455    1
1778863    1
          ..
2445261    1
304521     1
2933325    1
2148940    1
657407     1
Name: id, Length: 77380, dtype: int64

---------------------------
640.0     2
900.0     2
515.0     2
700.0     2
273.0     2
912.0     2
100.0     2
3560.0    1
786.0     1
204.0     1
1416.0    1
512.0     1
38.0      1
1809.0    1
168.0     1
280.0     1
1252.0    1
604.0     1
1218.0    1
396.0     1
645.0     1
314.0     1
819.0     1
600.0     1
200.0     1
380.0     1
252.0     1
384.0     1
669.0     1
394.0     1
224.0     1
3112.0    1
405.0     1
800.0     1
588.0     1
352.0     1
90.0      1
126.0     1
254.0     1
1969.0    1
112.0     1
674.0     1
300.0     1
Name: basementsqft, dtype: int64

---------------------------
2.0     31484
3.0     17313
1.0     12902
2.5      6604
4.0      3352
1.5      1415
3.5      1034
5.0      1026
4.5       695
0.0       592
6.0       417
5.5       224
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
11.0        3
8.5         3
13.0        1
18.0        1
Name: bathroomcnt, dtype: int64

---------------------------
3.0     30361
2.0     19169
4.0     17513
5.0      4543
1.0      3379
6.0       998
0.0       830
8.0       252
7.0       208
9.0        70
10.0       31
12.0       14
11.0        8
13.0        2
14.0        1
16.0        1
Name: bedroomcnt, dtype: int64

---------------------------
8.0     14645
6.0     13462
4.0      9482
7.0      5971
9.0      2299
5.0      2088
11.0      931
3.0       329
10.0      313
12.0      116
1.0        26
2.0         9
Name: buildingqualitytypeid, dtype: int64

---------------------------
2.0     31484
3.0     17313
1.0     12902
2.5      6595
4.0      3352
1.5      1408
3.5      1034
5.0      1026
4.5       695
6.0       417
5.5       223
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
11.0        3
8.5         3
13.0        1
18.0        1
Name: calculatedbathnbr, dtype: int64

---------------------------
66.0    614
Name: decktypeid, dtype: int64

---------------------------
1252.0    22
1205.0    21
1441.0    21
1462.0    21
1498.0    21
          ..
859.0      1
1480.0     1
2440.0     1
2273.0     1
2116.0     1
Name: finishedfloor1squarefeet, Length: 1787, dtype: int64

---------------------------
1200.0     181
1120.0     169
1440.0     147
1080.0     132
1260.0     120
          ...
4394.0       1
11020.0      1
3688.0       1
4685.0       1
5009.0       1
Name: calculatedfinishedsquarefeet, Length: 4972, dtype: int64

---------------------------
1200.0    176
1120.0    165
1080.0    131
1440.0    120
1232.0    116
         ...
603.0       1
4339.0      1
6620.0      1
6469.0      1
4179.0      1
Name: finishedsquarefeet12, Length: 4868, dtype: int64

---------------------------
1440.0    18
1344.0     5
1536.0     3
1488.0     3
1248.0     2
1392.0     2
1152.0     2
1200.0     1
1056.0     1
1060.0     1
1512.0     1
1300.0     1
1560.0     1
Name: finishedsquarefeet13, dtype: int64

---------------------------
1680.0    16
1536.0    12
2016.0    12
1600.0    10
1560.0     9
          ..
3035.0     1
4083.0     1
3972.0     1
2641.0     1
3350.0     1
Name: finishedsquarefeet15, Length: 1724, dtype: int64

---------------------------
1252.0    22
1205.0    21
1462.0    21
1441.0    21
780.0     21
          ..
2176.0     1
2536.0     1
2150.0     1
995.0      1
487.0      1
Name: finishedsquarefeet50, Length: 1807, dtype: int64

---------------------------
952.0     4
520.0     3
3552.0    3
3500.0    3
750.0     3
         ..
4572.0    1
1363.0    1
744.0     1
3073.0    1
1854.0    1
Name: finishedsquarefeet6, Length: 350, dtype: int64

---------------------------
6037.0    50550
6059.0    20593
6111.0     6237
Name: fips, dtype: int64

---------------------------
1.0    7008
2.0     995
3.0     235
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64

---------------------------
2.0     38096
3.0     18351
1.0     14310
4.0      4048
5.0      1245
6.0       454
7.0       121
8.0       111
9.0        23
10.0        7
11.0        3
18.0        1
13.0        1
Name: fullbathcnt, dtype: int64

---------------------------
2.0     18608
1.0      5676
3.0       632
4.0       255
0.0       230
5.0        45
6.0        14
7.0         4
10.0        3
8.0         2
9.0         2
14.0        1
11.0        1
13.0        1
Name: garagecarcnt, dtype: int64

---------------------------
0.0       7685
400.0      786
441.0      678
462.0      658
360.0      646
          ...
872.0        1
1096.0       1
921.0        1
918.0        1
877.0        1
Name: garagetotalsqft, Length: 839, dtype: int64

---------------------------
1.0    1538
Name: hashottuborspa, dtype: int64

---------------------------
33984600.0    40
33665651.0    38
33766300.0    34
34056700.0    32
34225100.0    29
              ..
34273126.0     1
33489003.0     1
33858091.0     1
34360024.0     1
33763912.0     1
Name: latitude, Length: 64037, dtype: int64

---------------------------
-118438000.0    63
-118435000.0    62
-118390000.0    60
-118445000.0    60
-118377000.0    59
                ..
-118416679.0     1
-117577117.0     1
-118365675.0     1
-118287356.0     1
-118105060.0     1
Name: longitude, Length: 62460, dtype: int64

---------------------------
6000.0     892
5000.0     437
7200.0     314
7000.0     297
6500.0     294
          ...
22544.0      1
3047.0       1
28022.0      1
12405.0      1
16446.0      1
Name: lotsizesquarefeet, Length: 18848, dtype: int64

---------------------------
1.0    16137
Name: poolcnt, dtype: int64

---------------------------
450.0    90
400.0    38
500.0    30
600.0    27
800.0    25
         ..
688.0     1
773.0     1
561.0     1
309.0     1
555.0     1
Name: poolsizesum, Length: 262, dtype: int64

---------------------------
1.0    464
Name: pooltypeid10, dtype: int64

---------------------------
1.0    1074
Name: pooltypeid2, dtype: int64

---------------------------
1.0    15042
Name: pooltypeid7, dtype: int64

---------------------------
0100    26713
122     13045
010C     8813
0101     6399
34       4922
        ...
0133        1
020E        1
0204        1
012D        1
0114        1
Name: propertycountylandusecode, Length: 75, dtype: int64

---------------------------
LAR1          6747
LAR3          2437
LARS          1389
LBR1N         1222
LARD1.5       1127
              ...
LCC4-R1600       1
LAA1-1           1
LCM1BE-RA*       1
DOR 2&HFB        1
LRRI*            1
Name: propertyzoningdesc, Length: 1907, dtype: int64

---------------------------
6.059063e+07    60
6.037137e+07    60
6.037920e+07    58
6.037277e+07    51
6.059032e+07    43
                ..
6.111009e+07     1
6.111008e+07     1
6.059100e+07     1
6.059099e+07     1
6.037267e+07     1
Name: rawcensustractandblock, Length: 39191, dtype: int64

---------------------------
12447.0     17948
46298.0      2588
5534.0       1912
54311.0      1880
52650.0      1669
            ...
118880.0        5
13311.0         5
10815.0         4
36078.0         1
21395.0         1
Name: regionidcity, Length: 175, dtype: int64

---------------------------
3101.0    50550
1286.0    20593
2061.0     6237
Name: regionidcounty, dtype: int64

---------------------------
27080.0     717
48570.0     704
37739.0     684
118208.0    669
51906.0     549
           ...
762934.0      1
761000.0      1
764144.0      1
268291.0      1
416311.0      1
Name: regionidneighborhood, Length: 480, dtype: int64

---------------------------
97319.0    825
96987.0    753
97318.0    708
97118.0    613
96974.0    593
          ...
96500.0      2
97092.0      1
97088.0      1
96467.0      1
97111.0      1
Name: regionidzip, Length: 389, dtype: int64

---------------------------
0.0     59807
6.0      4513
7.0      3838
5.0      3016
8.0      2872
4.0      1415
9.0      1193
10.0      339
3.0       211
11.0      108
12.0       35
2.0        15
13.0       10
14.0        6
15.0        1
1.0         1
Name: roomcnt, dtype: int64

---------------------------
1.0    10012
2.0       75
3.0        8
7.0        1
Name: threequarterbathnbr, dtype: int64

---------------------------
1.0      47292
2.0       2018
4.0        723
3.0        525
42.0         1
237.0        1
45.0         1
6.0          1
Name: unitcnt, dtype: int64

---------------------------
200.0     103
240.0      76
300.0      50
180.0      42
120.0      38
         ...
1556.0      1
1011.0      1
640.0       1
131.0       1
706.0       1
Name: yardbuildingsqft17, Length: 540, dtype: int64

---------------------------
30.0     3
120.0    3
448.0    2
300.0    2
56.0     2
240.0    2
88.0     2
33.0     2
144.0    2
204.0    1
218.0    1
60.0     1
461.0    1
336.0    1
414.0    1
180.0    1
284.0    1
216.0    1
868.0    1
368.0    1
292.0    1
39.0     1
45.0     1
196.0    1
575.0    1
37.0     1
48.0     1
314.0    1
320.0    1
491.0    1
16.0     1
66.0     1
752.0    1
160.0    1
384.0    1
231.0    1
576.0    1
41.0     1
91.0     1
174.0    1
71.0     1
49.0     1
140.0    1
648.0    1
195.0    1
72.0     1
12.0     1
113.0    1
21.0     1
462.0    1
169.0    1
200.0    1
105.0    1
486.0    1
133.0    1
360.0    1
250.0    1
28.0     1
108.0    1
Name: yardbuildingsqft26, dtype: int64

---------------------------
1955.0    1969
1989.0    1787
1950.0    1673
1964.0    1642
1954.0    1583
          ...
1894.0       1
1880.0       1
1878.0       1
1882.0       1
1866.0       1
Name: yearbuilt, Length: 136, dtype: int64

---------------------------
1.0    10366
2.0     6757
3.0      436
6.0        1
Name: numberofstories, dtype: int64

---------------------------
1.0    172
Name: fireplaceflag, dtype: int64

---------------------------
100000.0    82
200000.0    58
203050.0    55
90000.0     52
101525.0    49
            ..
482109.0     1
57945.0      1
116757.0     1
105827.0     1
154255.0     1
Name: structuretaxvaluedollarcnt, Length: 50429, dtype: int64

---------------------------
400000.0    56
600000.0    50
350000.0    49
450000.0    45
455000.0    43
            ..
67706.0      1
231557.0     1
383117.0     1
819884.0     1
374573.0     1
Name: taxvaluedollarcnt, Length: 50948, dtype: int64

---------------------------
2016.0    77380
Name: assessmentyear, dtype: int64

---------------------------
21299.0     97
22755.0     68
304575.0    65
30210.0     63
203050.0    63
            ..
588520.0     1
181416.0     1
604261.0     1
443355.0     1
365784.0     1
Name: landtaxvaluedollarcnt, Length: 51600, dtype: int64

---------------------------
2418.22     8
3720.52     7
3815.22     5
1725.20     5
4401.72     5
           ..
938.89      1
4648.57     1
5377.12     1
10187.30    1
21590.39    1
Name: taxamount, Length: 73824, dtype: int64

---------------------------
Y    2886
Name: taxdelinquencyflag, dtype: int64

---------------------------
15.0    1552
14.0     799
13.0     183
12.0     113
11.0      98
10.0      66
9.0       47
8.0       14
7.0       10
4.0        1
3.0        1
99.0       1
6.0        1
Name: taxdelinquencyyear, dtype: int64

---------------------------
6.037137e+13    60
6.037277e+13    51
6.059032e+13    44
6.059063e+13    41
6.037920e+13    41
                ..
6.037461e+13     1
6.059076e+13     1
6.037403e+13     1
6.037901e+13     1
6.037311e+13     1
Name: censustractandblock, Length: 39006, dtype: int64

---------------------------
 0.000231    7
 0.002652    7
 0.001878    5
 0.006909    5
 0.003152    5
            ..
-0.006046    1
 0.014662    1
-0.161969    1
-0.005763    1
 0.025578    1
Name: logerror, Length: 76836, dtype: int64

---------------------------
2017-06-30    1189
2017-04-28     911
2017-05-31     867
2017-07-28     814
2017-08-31     781
              ...
2017-04-08       1
2017-07-22       1
2017-08-06       1
2017-08-05       1
2017-08-12       1
Name: transactiondate, Length: 264, dtype: int64

---------------------------
Central          23133
Yes               1574
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64

---------------------------
Contemporary     172
Conventional      19
Ranch/Rambler      7
Bungalow           5
Cape Cod           3
Name: architecturalstyledesc, dtype: int64

---------------------------
Buildings having wood or wood and steel frames                                                                                                                                                                                             14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     1
Name: buildingclassdesc, dtype: int64

---------------------------
Central       33550
Floor/Wall    14064
Yes             846
Forced air      776
Solar           104
None             59
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64

---------------------------
Single Family Residential                     52319
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

---------------------------
Basement    50
Name: storydesc, dtype: int64

---------------------------
Frame       219
Masonry       1
Concrete      1
Metal         1
Name: typeconstructiondesc, dtype: int64

---------------------------

In [7]:
df.shape

(77380, 68)

In [8]:
df.dtypes

parcelid                    int64
typeconstructiontypeid    float64
storytypeid               float64
propertylandusetypeid     float64
heatingorsystemtypeid     float64
                           ...
buildingclassdesc          object
heatingorsystemdesc        object
propertylandusedesc        object
storydesc                  object
typeconstructiondesc       object
Length: 68, dtype: object

In [9]:
df.describe()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,7.738000e+04,222.000000,50.0,77380.000000,49439.000000,15.000000,206.000000,24953.000000,7.738000e+04,50.000000,...,17560.000000,172.0,7.726800e+04,7.737900e+04,77380.0,7.737800e+04,77375.000000,2886.000000,7.713600e+04,77380.000000
mean,1.300715e+07,6.040541,7.0,261.826350,3.920447,3.933333,7.388350,1.813289,1.495126e+06,679.720000,...,1.434738,1.0,1.893160e+05,4.901375e+05,2016.0,3.010969e+05,5995.566592,14.087318,6.049674e+13,0.016628
std,3.481368e+06,0.557285,0.0,5.141231,3.592789,0.258199,2.734542,2.967894,8.609057e+05,689.703546,...,0.544569,0.0,2.300886e+05,6.534477e+05,0.0,4.925990e+05,7622.887460,2.185663,1.535252e+12,0.170190
min,1.071186e+07,4.000000,7.0,31.000000,1.000000,3.000000,2.000000,1.000000,3.490000e+02,38.000000,...,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,-4.655420
25%,1.153830e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,7.520500e+05,273.000000,...,1.000000,1.0,8.426500e+04,2.070000e+05,2016.0,8.550400e+04,2715.585000,14.000000,6.037311e+13,-0.024377
50%,1.253155e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,1.497870e+06,515.000000,...,1.000000,1.0,1.364995e+05,3.589760e+05,2016.0,2.033835e+05,4450.720000,15.000000,6.037603e+13,0.006627
75%,1.421184e+07,6.000000,7.0,266.000000,7.000000,4.000000,7.000000,1.000000,2.240480e+06,796.500000,...,2.000000,1.0,2.187875e+05,5.690030e+05,2016.0,3.668022e+05,6927.800000,15.000000,6.059042e+13,0.039204
max,1.676893e+08,13.000000,7.0,275.000000,24.000000,4.000000,21.000000,13.000000,2.982274e+06,3560.000000,...,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,5.262999

### 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [10]:
def missing_values(df):
    df_nulls = pd.DataFrame({'num_rows_missing':df.isnull().sum(),'pct_rows_missing':df.isnull().sum()/len(df)*100})
    return df_nulls

In [11]:
df_nulls = missing_values(df)

In [12]:
df_nulls

                        num_rows_missing  pct_rows_misisng
parcelid                               0          0.000000
typeconstructiontypeid             77158         99.713104
storytypeid                        77330         99.935384
propertylandusetypeid                  0          0.000000
heatingorsystemtypeid              27941         36.108814
...                                  ...               ...
buildingclassdesc                  77365         99.980615
heatingorsystemdesc                27941         36.108814
propertylandusedesc                    0          0.000000
storydesc                          77330         99.935384
typeconstructiondesc               77158         99.713104

[68 rows x 2 columns]

In [14]:
df_nulls.pct_rows_misisng.describe()

count    68.000000
mean     48.566281
std      44.835208
min       0.000000
25%       0.002262
50%      48.094469
75%      98.162316
max      99.980615
Name: pct_rows_misisng, dtype: float64

Takeaways: drop high percentage columns and impute low percentage columns

### 4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

## Prepare

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

The input:
- A dataframe
- A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
- A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
The output:
- The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
hint:
Look up the dropna documentation.
You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
Make use of inplace, i.e. inplace=True/False.
Decide how to handle the remaining missing values:

Fill with constant value.
Impute with mean, median, mode.
Drop row/column
wrangle_zillow.py

Functions of the work above needed to acquire and prepare a new sample of data.

In [18]:
df[df.propertylandusetypeid != 261].propertylandusedesc.value_counts()

Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64